{% extends 'base.html' %}
{% load bootstrap4  %}
{% block article_content %}
    {% block create %}{% endblock %}
    {% bootstrap_messages %}
    <h1>Список статей</h1>
    <ol>
        {% for article in articles %}
            <li>
                <div>
                    <h3>
                        <a href="{% url 'article' article.id %}">{{ article.name }}</a>
                    </h3>
                    <p>
                        {{ article.body|slice:":200" }}
                    </p>
                </div>
            </li>
            <a href="{% url 'articles_update' article.id%}">Обновить статью</a>
            <hr>
        {% endfor %}
    </ol>
{% endblock %}

