<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django на Хекслете</title>
</head>
<body>
    <div id="sidebar">
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'about' %}">О блоге</a></li>
                <li><a href="{% url 'articles-index' %}">Статьи</a></li>
            </ul>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {% block article %}{% endblock %}
    {% block article_content %}{% endblock %}
</body>
</html>